@import "compass/css3";

body, html {
  position: relative;
  font-size: rem-calc(14);
  height: 100%;
}

// HOME PAGE 
.schola-container {
	text-align: center;
  text-transform: uppercase;
}

.logo-grande {
  margin-top: rem-calc(125);
  margin-bottom: rem-calc(155);
}

.entry-link {
  display: block;
  font-size: rem-calc(15);
  font-weight: bold;
  @include text-shadow(1px 1px 2px rgba(0, 0, 0, .3));
  letter-spacing: rem-calc(8);
}

.entry-link:first-letter {
  font-size: rem-calc(18);
}

.entry-link:link, .entry-link:visited, .entry-link:focus {
  color: #3a3a3a;
}

.entry-link:hover {
  color: #000;
}
// FINE HOME PAGE

.off-canvas-list {
  li {
    &:last-child {
      margin-top: rem-calc(20);
    }
  }
  a {
    text-transform: uppercase;
  }
}

.middle {
  background-color: white;
}

.site-header {
  max-height: rem-calc(54);
  background-color: #929292;
  padding-top: 0;
  padding-bottom: 0;
}

.cantori {
  display: block;
  width: 90%;
  margin: rem-calc(20) auto 0;
}

// SIDE NAV
.main-side-nav {
  li {
    padding-left: 5%;

    &:last-child {
      padding-top: rem-calc(20);
    }
  
    a {
      text-transform: uppercase;
      @include text-shadow(1px 1px 2px rgba(0, 0, 0, .3));
    }
  }
}

// ARTICLE

main {
  margin-top: rem-calc(40);
}

article {
  margin-bottom: rem-calc(20);
  p {
    text-align: justify;
    margin-bottom: rem-calc(10);
  }

  ul {
    clear: both;
  }
}

aside {
  @extend article;

  p, h3, li {
    color: #555 !important;
  }
}

.article-image {
  width: 100px;
  height: 120px;

  &.landscape {
    width: 120px;
    height: 100px;
  }

  &.squared {
    width: 120px;
    height: 120px;
  }
}

.left {
  float: left;
  margin: rem-calc(6) rem-calc(10) rem-calc(10) 0;

  .center & {
    margin-left: rem-calc(20);
  }
}

.page-title {
  font-size: rem-calc(22);
  font-weight: bold;
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(25);
  text-transform: uppercase;
  text-align: center;
}

.article-title {
  font-size: rem-calc(20);
  font-weight: bold;
  margin: rem-calc(15) 0;
}

.role-title {
  font-size: rem-calc(18);
  font-weight: bold;
  font-style: italic;
  margin-top: rem-calc(15);
}

.lista-cantori {
  .role-title, p {
    text-align: center;
  }
}

.center {
  .article-title {
    text-align: center;
  }

  .lista-cantori {
    .role-title, p {
      text-align: left;
    }

    p {
      padding-left: rem-calc(20);
    }
  }
}

// hr
.site-bottom-hr {
  display: none;
}

.divider {
  display: block;
  height: 0;
  width: 40%;
  border: 1px solid #929292;
  margin: 0 auto rem-calc(20) auto;
}

.eventi {
  display: table;
  width: 100%;
  margin-bottom: rem-calc(60);
}

.evento {
  display: table-row;
}

.evento-concerto {
  @extend .evento;
  background-color: #eee;
}

.data-evento, .event-block {
  display: table-cell;
  padding: rem-calc(12);
  border: thin solid #929292;
  border-collapse: collapse;
}

.data-evento {
  border-right: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: 25%;
}

.event-block {
  p {
    margin-bottom: 0;
  }
}

.event-name {
  font-style: italic;
}

.clear {
  clear: both;
}

.scheda {
  margin-bottom: rem-calc(20);
  p {
    margin-bottom: 0;

    &:first-child {
      font-weight: bold;
    }
  }
}
