@import "compass/css3";

body, html {
  position: relative;
  font-size: rem-calc(14);
  height: 100vh;
}

// HOME PAGE 
.schola-container {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-grande {
  width: rem-calc(500);
  max-width: 100%;
  margin-top: 35vh;
}

.entry-link {
  display: block;
  font-size: rem-calc(15);
  font-weight: bold;
  @include text-shadow(1px 1px 2px rgba(0, 0, 0, .3));
  letter-spacing: rem-calc(8);
  margin-top: 25vh;
}

.entry-link:first-letter {
  font-size: rem-calc(18);
}

.entry-link:link, .entry-link:visited, .entry-link:focus {
  color: #3a3a3a;
}

.entry-link:hover {
  color: #000;
}
// FINE HOME PAGE

.off-canvas-wrap {
  margin-top: rem-calc(22.5);
}

.off-canvas-list {
  li {
    &:last-child {
      margin-top: rem-calc(20);
    }
  }
  a {
    text-transform: uppercase;
  }
}

.middle {
  background-color: white;
}

.site-header {
  max-height: rem-calc(54);
  background-color: #929292;
  padding-top: 0;
  padding-bottom: 0;
}

.cantori {
  display: block;
  width: 90%;
  margin: rem-calc(20) auto 0;
}

// SIDE NAV
.main-side-nav {
  li {
    padding-left: 5%;

    &:last-child {
      padding-top: rem-calc(20);
    }
  
    a {
      text-transform: uppercase;
      @include text-shadow(1px 1px 2px rgba(0, 0, 0, .3));
    }
  }
}

// ARTICLE

main {
  margin-top: rem-calc(40);
}

article {
  margin-bottom: rem-calc(20);
  p {
    text-align: justify;
    margin-bottom: rem-calc(10);
  }

  ul {
    clear: both;
  }
}

aside {
  @extend article;

  p, h3, li {
    color: #555 !important;
  }
}

.article-image {
  &.portrait {
    width: 100px;
  }

  &.landscape {
    width: 120px;
  }
}

.left {
  float: left;
  margin: rem-calc(6) rem-calc(10) rem-calc(10) 0;

  .center & {
    margin-left: rem-calc(20);
  }

  &.standout {
    width: 120px;
  }
}

.no-center {
  margin-left: 0 !important;
}

.page-title {
  font-size: rem-calc(22);
  font-weight: bold;
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(25);
  text-transform: uppercase;
  text-align: center;
}

.article-title {
  font-size: rem-calc(20);
  font-weight: bold;
  margin: rem-calc(15) 0;
}

.role-title {
  font-size: rem-calc(18);
  font-weight: bold;
  font-style: italic;
  margin-top: rem-calc(15);
}

.lista-cantori {
  .role-title {
    text-align: center;
  }

  .curriculum {    
    p {
      text-align: justify !important;
    }
  }
}

.center {
  .article-title {
    text-align: center;
  }

  .lista-cantori {
    .role-title, p {
      text-align: left;
    }

    p {
      margin-left: rem-calc(20);
    }
  }
}


// hr
.site-bottom-hr {
  display: none;
}

.divider {
  display: block;
  height: 0;
  width: 40%;
  border: 1px solid #929292;
  margin: rem-calc(30) auto;
}

.eventi {
  width: 100%;
  margin-bottom: rem-calc(60);
}

.event-container {
  width: 100%;
  border: 1px solid #929292;
  display: table;
  margin-bottom: rem-calc(40);
}

.evento {
  display: table-row;
  width: 100%;
  background-color: #fff;
  
  &.concerto {
      background-color: #eee;
  }
}

.evento-trascorso {
  @extend .evento;
  background-color: white;
}

.data-evento, .event-block {
  display: table-cell;
  padding: rem-calc(12);
}

.data-evento {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-right: 1px solid #929292;
  width: 25%;
}

.event-block {
  width: 75%;

  p {
    margin-bottom: 0;
  }

  ul, li, a {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .clearing-links {
    margin-top: 1rem;

    li {
      display: inline;

      &:not(:first-child) {
        padding-left: rem-calc(10);
      }

      &:not(:last-child) {
        padding-right: rem-calc(10);
        margin-right: 0;
        border-right: 1px solid #008cba;
      }
    }
  }
}

.event-name {
  font-style: italic;
}

.clear {
  clear: both;
}

.scheda {
  margin-bottom: rem-calc(20);
  p {
    margin-bottom: 0;

    &:first-child {
      font-weight: bold;
    }
  }
}

.social-icons-container {
  margin-top: rem-calc(-25);
}

.social-icon {
  display: inline-block;
  width: rem-calc(22.8571429);
  height: rem-calc(22.8571429);
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.svg);
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: outline .5s linear;
  -moz-transition: outline .5s linear;
  transition: outline .5s linear;

  &:hover, &:focus {
    outline: rgba(0, 140, 186, .75) solid 2px;
  }

  .no-svg & {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-small.png)
  }
}

video {
    max-width: 100%;
}

.no-video {
    font-size: rem-calc(14);
    
    a {
        color: blue;
    }
}

.video-label {
    font-weight: normal;
    font-style: italic;
    color: #777;
    
    span {
        font-weight: bold;
    }
}