@media #{$medium-up} {

  body, html {
    font-size: 80%;
  }

  .logo-grande {
    margin-top: rem-calc(200);
  }
  
  .site-bottom-hr {
    display: block;
    width: 50%;
    height: 0;
    border: 1px solid #929292;
    margin: rem-calc(80) auto rem-calc(80);
  }
  
  .article-small {
    margin-bottom: rem-calc(30);
  }
  
  .article-small-title {
    font-size: rem-calc(20);
  }
  
  .page-title {
    text-align: left;
    padding-top: 0;
  }

  .main-side-nav {
    li {
      a {
        padding-left: rem-calc(22) !important;
      }
    }
  }

  .logo-piccolo-container {
    height: 100%;
    max-height: rem-calc(54);
    width: rem-calc(310);
    max-width: rem-calc(389);
    background-color: white;
    margin-left: rem-calc(54);
  }
}

@media #{$large-up} {
  body, html {
    margin-top: rem-calc(40);
  }  
}