@media #{$medium-up} {

  .site-bottom-hr {
    display: block;
    width: 50%;
    height: 0;
    border: 1px solid #929292;
    margin: rem-calc(40) auto rem-calc(80);
  }
    
  .page-title {
    text-align: left;
    margin-top: 0;
  }

  .main-side-nav {
    li {
      a {
        padding-left: rem-calc(22) !important;
        letter-spacing: rem-calc(5);
      }
    }
  }

  .logo-piccolo-container {
    width: 29.722222222%;
    max-width: rem-calc(321);
    background-color: white;
    margin-left: 5%;
  }

  .social-icons-container {
    margin-top: rem-calc(-3)
  }

  .social-icon {
    width: rem-calc(34.2857143);
    height: rem-calc(34.2857143);

    .no-svg & {
      background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-m.png);
    }
  }
}

@media #{$large-up} {
  .bigger {
    width: rem-calc(300);
  }
}

@media #{$medium-only} {
  .bigger {
    width: rem-calc(220);
  }
}

@media #{$small-only} {
  p {
    font-size: rem-calc(16);
  }

  .increase-height {
    height: rem-calc(1200);
  }

  .bigger {
    width: rem-calc(150);
  } 
}