@media #{$medium-up} {

  body, html {
    font-size: 80%;
  }

  .logo-grande {
    margin-top: rem-calc(200);
  }
  
  .site-bottom-hr {
    display: block;
    width: 50%;
    height: 0;
    border: 1px solid #929292;
    margin: rem-calc(80) auto rem-calc(80);
  }
    
  .article-title {
    font-size: rem-calc(20);
    margin-top: rem-calc(15);
  }
  
  .page-title {
    text-align: left;
    padding-top: 0;
  }

  .main-side-nav {
    li {
      a {
        padding-left: rem-calc(22) !important;
      }
    }
  }

  .logo-piccolo-container {
    width: 29.722222222%;
    max-width: rem-calc(321);
    background-color: white;
    margin-left: 5%;
  }
}

@media #{$large-up} {
  body, html {
    margin-top: rem-calc(15);
  }  
}