# comportamento standard: converti i fine riga in CR
text eol=lf

# estensioni da considerare come testo
*.html text
*.css text
*.scss text
*.js text
*.sass text
*.htm text
*.php text
*.rb text
*.json text
*.txt text

# estensioni da considerare binarie
*.png binary
*.gif binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.mpeg binary
*.mp3 binary
*.ico binary
*.doc binary
*.docx binary
