/* line 3, ../../scss/_main.scss */
body, html {
  position: relative;
  font-size: 0.875rem;
  height: 100%;
}

/* line 10, ../../scss/_main.scss */
.schola-container {
  text-align: center;
  text-transform: uppercase;
}

/* line 15, ../../scss/_main.scss */
.logo-grande {
  margin-top: 7.8125rem;
  margin-bottom: 9.6875rem;
}

/* line 20, ../../scss/_main.scss */
.entry-link {
  display: block;
  font-size: 0.9375rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5rem;
}

/* line 28, ../../scss/_main.scss */
.entry-link:first-letter {
  font-size: 1.125rem;
}

/* line 32, ../../scss/_main.scss */
.entry-link:link, .entry-link:visited, .entry-link:focus {
  color: #3a3a3a;
}

/* line 36, ../../scss/_main.scss */
.entry-link:hover {
  color: #000;
}

/* line 43, ../../scss/_main.scss */
.off-canvas-list li:last-child {
  margin-top: 1.25rem;
}
/* line 47, ../../scss/_main.scss */
.off-canvas-list a {
  text-transform: uppercase;
}

/* line 52, ../../scss/_main.scss */
.middle {
  background-color: white;
}

/* line 56, ../../scss/_main.scss */
.site-header {
  max-height: 3.375rem;
  background-color: #929292;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 63, ../../scss/_main.scss */
.cantori {
  display: block;
  width: 90%;
  margin: 1.25rem auto 0;
}

/* line 71, ../../scss/_main.scss */
.main-side-nav li {
  padding-left: 5%;
}
/* line 74, ../../scss/_main.scss */
.main-side-nav li:last-child {
  padding-top: 1.25rem;
}
/* line 78, ../../scss/_main.scss */
.main-side-nav li a {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 87, ../../scss/_main.scss */
main {
  margin-top: 2.5rem;
}

/* line 91, ../../scss/_main.scss */
article, aside {
  margin-bottom: 1.25rem;
}
/* line 93, ../../scss/_main.scss */
article p, aside p {
  text-align: justify;
  margin-bottom: 0.625rem;
}
/* line 98, ../../scss/_main.scss */
article ul, aside ul {
  clear: both;
}

/* line 106, ../../scss/_main.scss */
aside p, aside h3, aside li {
  color: #555 !important;
}

/* line 111, ../../scss/_main.scss */
.article-image {
  width: 100px;
  height: 120px;
}
/* line 115, ../../scss/_main.scss */
.article-image.landscape {
  width: 120px;
  height: 100px;
}
/* line 120, ../../scss/_main.scss */
.article-image.squared {
  width: 120px;
  height: 120px;
}

/* line 126, ../../scss/_main.scss */
.left {
  float: left;
  margin: 0.375rem 0.625rem 0.625rem 0;
}
/* line 130, ../../scss/_main.scss */
.center .left {
  margin-left: 1.25rem;
}

/* line 135, ../../scss/_main.scss */
.page-title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  text-align: center;
}

/* line 144, ../../scss/_main.scss */
.article-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.9375rem 0;
}

/* line 150, ../../scss/_main.scss */
.role-title {
  font-size: 1.125rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.9375rem;
}

/* line 158, ../../scss/_main.scss */
.lista-cantori .role-title, .lista-cantori p {
  text-align: center;
}

/* line 164, ../../scss/_main.scss */
.center .article-title {
  text-align: center;
}
/* line 169, ../../scss/_main.scss */
.center .lista-cantori .role-title, .center .lista-cantori p {
  text-align: left;
}
/* line 173, ../../scss/_main.scss */
.center .lista-cantori p {
  padding-left: 1.25rem;
}

/* line 180, ../../scss/_main.scss */
.site-bottom-hr {
  display: none;
}

/* line 184, ../../scss/_main.scss */
.divider {
  display: block;
  height: 0;
  width: 40%;
  border: 1px solid #929292;
  margin: 0 auto 1.25rem auto;
}

/* line 192, ../../scss/_main.scss */
.eventi {
  display: table;
  width: 100%;
}

/* line 197, ../../scss/_main.scss */
.event {
  display: table-row;
}

/* line 201, ../../scss/_main.scss */
.data-evento, .event-block {
  display: table-cell;
  padding: 0.75rem;
  border: thin solid #929292;
  border-collapse: collapse;
}

/* line 208, ../../scss/_main.scss */
.data-evento {
  border-right: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

/* line 216, ../../scss/_main.scss */
.event-block p {
  margin-bottom: 0;
}

/* line 221, ../../scss/_main.scss */
.event-name {
  font-style: italic;
}

@media only screen and (min-width: 40.063em) {
  /* line 3, ../../scss/_responsive.scss */
  .logo-grande {
    margin-top: 12.5rem;
  }

  /* line 7, ../../scss/_responsive.scss */
  .site-bottom-hr {
    display: block;
    width: 50%;
    height: 0;
    border: 1px solid #929292;
    margin: 2.5rem auto 5rem;
  }

  /* line 15, ../../scss/_responsive.scss */
  .page-title {
    text-align: left;
    margin-top: 0;
  }

  /* line 22, ../../scss/_responsive.scss */
  .main-side-nav li a {
    padding-left: 1.375rem !important;
    letter-spacing: 0.3125rem;
  }

  /* line 29, ../../scss/_responsive.scss */
  .logo-piccolo-container {
    width: 29.722222222%;
    max-width: 20.0625rem;
    background-color: white;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 38, ../../scss/_responsive.scss */
  body, html {
    margin-top: 0.9375rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 44, ../../scss/_responsive.scss */
  p {
    font-size: 1rem;
  }

  /* line 48, ../../scss/_responsive.scss */
  .increase-height {
    height: 75rem;
  }
}
