/* line 3, ../../scss/_main.scss */
body, html {
  position: relative;
  font-size: 0.875rem;
  height: 100%;
}

/* line 10, ../../scss/_main.scss */
.schola-container {
  text-align: center;
  text-transform: uppercase;
}

/* line 15, ../../scss/_main.scss */
.logo-grande {
  margin-top: 7.8125rem;
  margin-bottom: 9.6875rem;
}

/* line 20, ../../scss/_main.scss */
.entry-link {
  display: block;
  font-size: 0.9375rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5rem;
}

/* line 28, ../../scss/_main.scss */
.entry-link:first-letter {
  font-size: 1.125rem;
}

/* line 32, ../../scss/_main.scss */
.entry-link:link, .entry-link:visited, .entry-link:focus {
  color: #3a3a3a;
}

/* line 36, ../../scss/_main.scss */
.entry-link:hover {
  color: #000;
}

/* line 43, ../../scss/_main.scss */
.off-canvas-list li:last-child {
  margin-top: 1.25rem;
}
/* line 47, ../../scss/_main.scss */
.off-canvas-list a {
  text-transform: uppercase;
}

/* line 52, ../../scss/_main.scss */
.middle {
  background-color: white;
}

/* line 56, ../../scss/_main.scss */
.site-header {
  max-height: 3.375rem;
  background-color: #929292;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 63, ../../scss/_main.scss */
.cantori {
  display: block;
  width: 90%;
  margin: 1.25rem auto 0;
}

/* line 71, ../../scss/_main.scss */
.main-side-nav li {
  padding-left: 5%;
}
/* line 74, ../../scss/_main.scss */
.main-side-nav li:last-child {
  padding-top: 1.25rem;
}
/* line 78, ../../scss/_main.scss */
.main-side-nav li a {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 87, ../../scss/_main.scss */
main {
  margin-top: 2.5rem;
}

/* line 91, ../../scss/_main.scss */
article, aside {
  margin-bottom: 1.25rem;
}
/* line 93, ../../scss/_main.scss */
article p, aside p {
  text-align: justify;
  margin-bottom: 0.625rem;
}
/* line 98, ../../scss/_main.scss */
article ul, aside ul {
  clear: both;
}

/* line 106, ../../scss/_main.scss */
aside p, aside h3, aside li {
  color: #555 !important;
}

/* line 112, ../../scss/_main.scss */
.article-image.portrait {
  width: 100px;
}
/* line 116, ../../scss/_main.scss */
.article-image.landscape {
  width: 120px;
}

/* line 121, ../../scss/_main.scss */
.left {
  float: left;
  margin: 0.375rem 0.625rem 0.625rem 0;
}
/* line 125, ../../scss/_main.scss */
.center .left {
  margin-left: 1.25rem;
}
/* line 129, ../../scss/_main.scss */
.left.standout {
  width: 120px;
}

/* line 134, ../../scss/_main.scss */
.no-center {
  margin-left: 0 !important;
}

/* line 139, ../../scss/_main.scss */
.page-title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 0.9375rem;
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  text-align: center;
}

/* line 148, ../../scss/_main.scss */
.article-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.9375rem 0;
}

/* line 154, ../../scss/_main.scss */
.role-title {
  font-size: 1.125rem;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.9375rem;
}

/* line 162, ../../scss/_main.scss */
.lista-cantori .role-title {
  text-align: center;
}
/* line 167, ../../scss/_main.scss */
.lista-cantori .curriculum p {
  text-align: justify !important;
}

/* line 174, ../../scss/_main.scss */
.center .article-title {
  text-align: center;
}
/* line 179, ../../scss/_main.scss */
.center .lista-cantori .role-title, .center .lista-cantori p {
  text-align: left;
}
/* line 183, ../../scss/_main.scss */
.center .lista-cantori p {
  margin-left: 1.25rem;
}

/* line 191, ../../scss/_main.scss */
.site-bottom-hr {
  display: none;
}

/* line 195, ../../scss/_main.scss */
.divider {
  display: block;
  height: 0;
  width: 40%;
  border: 1px solid #929292;
  margin: 1.875rem auto;
}

/* line 203, ../../scss/_main.scss */
.eventi {
  width: 100%;
  margin-bottom: 3.75rem;
}

/* line 208, ../../scss/_main.scss */
.event-container {
  width: 100%;
  border: 1px solid #929292;
  display: table;
  margin-bottom: 2.5rem;
}

/* line 215, ../../scss/_main.scss */
.evento, .evento-trascorso {
  display: table-row;
  width: 100%;
  background-color: #eee;
}

/* line 221, ../../scss/_main.scss */
.evento-trascorso {
  background-color: white;
}

/* line 226, ../../scss/_main.scss */
.data-evento, .event-block {
  display: table-cell;
  padding: 0.75rem;
}

/* line 231, ../../scss/_main.scss */
.data-evento {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-right: 1px solid #929292;
  width: 25%;
}

/* line 239, ../../scss/_main.scss */
.event-block {
  width: 75%;
}
/* line 242, ../../scss/_main.scss */
.event-block p {
  margin-bottom: 0;
}
/* line 246, ../../scss/_main.scss */
.event-block ul, .event-block li, .event-block a {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 251, ../../scss/_main.scss */
.event-block .clearing-links {
  margin-top: 1rem;
}
/* line 254, ../../scss/_main.scss */
.event-block .clearing-links li {
  display: inline;
}
/* line 257, ../../scss/_main.scss */
.event-block .clearing-links li:last-child {
  padding-left: 0.625rem;
}
/* line 261, ../../scss/_main.scss */
.event-block .clearing-links li:first-child {
  padding-right: 0.625rem;
  margin-right: 0;
  border-right: 1px solid #008cba;
}

/* line 270, ../../scss/_main.scss */
.event-name {
  font-style: italic;
}

/* line 274, ../../scss/_main.scss */
.clear {
  clear: both;
}

/* line 278, ../../scss/_main.scss */
.scheda {
  margin-bottom: 1.25rem;
}
/* line 280, ../../scss/_main.scss */
.scheda p {
  margin-bottom: 0;
}
/* line 283, ../../scss/_main.scss */
.scheda p:first-child {
  font-weight: bold;
}

/* line 289, ../../scss/_main.scss */
.social-icons-container {
  margin-top: -1.5625rem;
}

/* line 293, ../../scss/_main.scss */
.social-icon {
  display: inline-block;
  width: 1.42857rem;
  height: 1.42857rem;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.svg);
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: outline .5s linear;
  -moz-transition: outline .5s linear;
  transition: outline .5s linear;
}
/* line 309, ../../scss/_main.scss */
.social-icon:hover, .social-icon:focus {
  outline: rgba(0, 140, 186, 0.75) solid 2px;
}
/* line 313, ../../scss/_main.scss */
.no-svg .social-icon {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-small.png);
}

@media only screen and (min-width: 40.063em) {
  /* line 3, ../../scss/_responsive.scss */
  .logo-grande {
    margin-top: 12.5rem;
  }

  /* line 7, ../../scss/_responsive.scss */
  .site-bottom-hr {
    display: block;
    width: 50%;
    height: 0;
    border: 1px solid #929292;
    margin: 2.5rem auto 5rem;
  }

  /* line 15, ../../scss/_responsive.scss */
  .page-title {
    text-align: left;
    margin-top: 0;
  }

  /* line 22, ../../scss/_responsive.scss */
  .main-side-nav li a {
    padding-left: 1.375rem !important;
    letter-spacing: 0.3125rem;
  }

  /* line 29, ../../scss/_responsive.scss */
  .logo-piccolo-container {
    width: 29.722222222%;
    max-width: 20.0625rem;
    background-color: white;
    margin-left: 5%;
  }

  /* line 36, ../../scss/_responsive.scss */
  .social-icons-container {
    margin-top: -0.1875rem;
  }

  /* line 40, ../../scss/_responsive.scss */
  .social-icon {
    width: 2.14286rem;
    height: 2.14286rem;
  }
  /* line 44, ../../scss/_responsive.scss */
  .no-svg .social-icon {
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-m.png);
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 51, ../../scss/_responsive.scss */
  body, html {
    margin-top: 0.9375rem;
  }

  /* line 55, ../../scss/_responsive.scss */
  .bigger {
    width: 18.75rem;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 61, ../../scss/_responsive.scss */
  .bigger {
    width: 13.75rem;
  }
}
@media only screen and (max-width: 40em) {
  /* line 67, ../../scss/_responsive.scss */
  p {
    font-size: 1rem;
  }

  /* line 71, ../../scss/_responsive.scss */
  .increase-height {
    height: 75rem;
  }

  /* line 75, ../../scss/_responsive.scss */
  .bigger {
    width: 9.375rem;
  }
}
